<div id="<%= dom_id friend %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= friend.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= friend.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contact:</strong>
    <%= friend.contact %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Insta:</strong>
    <%= friend.insta %>
  </p>

</div>
